<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <%= link_to "Secret Club", root_path, class: "navbar-brand"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{active_link?(about_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{active_link?(contact_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: "nav-link #{active_link?(posts_path)}"%>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'New Post', new_post_path, class: "nav-link #{active_link?(new_post_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
          <li class="nav-item">
            <%= link_to 'Signup', signup_path, class: "nav-link #{active_link?(signup_path)}"%>
          </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link #{active_link?(login_path)}"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>